<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Dialog Demo</name>

    <description>
        A dialog, notification and toast message demonstration application
    </description>

    <author href="http://www.worcester.ac.uk/discover/chris-bowers.html" email="c.bowers@worc.ac.uk">
        Chris P. Bowers
    </author>
	
	<preference name="phonegap-version" value="3.7.0" />
	
	
	<!-- required for dialogs -->
	<gap:plugin name="org.apache.cordova.dialogs"/>


</widget>